<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Customer</title>
</head>
<body>
<h1 th:text="#{delete.customer}"></h1>
<h2 th:text="#{sure}"></h2>
<p>
    <a href="/customers" th:text="#{back.customers}"></a>
</p>
<form th:action="@{/delete-customer}" th:object="${customer}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <table>
        <tr>
            <td th:text="#{firstName}"></td>
            <td th:text="${customer.firstName}"></td>
        </tr>
        <tr>
            <td th:text="#{lastName}"></td>
            <td th:text="${customer.lastName}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" th:value="#{delete}"></td>
        </tr>
    </table>
</form>
</body>
</html>