<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail information customer</title>
</head>
<body>
<h1 th:text="#{detail.customer}"></h1>
<p>
    <a href="/customers" th:text="#{back.customers}"></a>
</p>
<table border="1">
    <tr>
        <td>Id:</td>
        <td th:text="${customer.id}"></td>
    </tr>
    <tr>
        <td th:text="#{firstName}"></td>
        <td th:text="${customer.firstName}"></td>
    </tr>
    <tr>
        <td th:text="#{lastName}"></td>
        <td th:text="${customer.lastName}"></td>
    </tr>
    <tr>
        <td th:text="#{province}"></td>
        <td th:text="${customer.province.name}"></td>
    </tr>
</table>
</body>
</html>