<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new Province</title>
</head>
<body>
<h1 th:text="#{create.province}"></h1>
<p>
    <a href="/provinces" th:text="#{back.provinces}"></a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-province}" th:object="${province}" method="post">
    <table>
        <tr>
            <td th:text="#{name}"></td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" th:value="#{create.province}"></td>
        </tr>
    </table>
</form>
</body>
</html>