<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete province</title>
</head>
<body>
<h1 th:text="#{delete.province}"></h1>
<h2 th:text="#{sure}"></h2>
<p>
    <a href="/provinces" th:value="#{back.provinces}"></a>
</p>
<form th:action="@{/delete-province}" th:object="${province}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <table>
        <tr>
            <td th:value="#{name}"></td>
            <td th:text="*{name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" th:value="#{delete}"></td>
        </tr>
    </table>
</form>
</body>
</html>