<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Provinces</title>
</head>
<body>
<a href="/create-province" th:text="#{create.province}"></a>
<h1 th:text="#{list.province}"></h1>
<table border="1">
    <tr>
        <th th:text="#{name}"></th>
        <th th:text="#{edit}"></th>
        <th th:text="#{delete}"></th>
        <th th:text="#{view}"></th>
    </tr>
    <th:block th:each="province : ${provinces}">
        <tr>
            <td th:text="${province.name}"></td>
            <td><a th:href="@{/edit-province/__${province.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-province/__${province.id}__ }">Delete</a></td>
            <td><a th:href="@{/view-province/__${province.id}__}">view</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>