<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View province</title>
</head>
<body>
<h1><span th:text="#{view.province}"></span><span th:text="${province.name}"></span></h1>
<a href="/provinces" th:text="#{back.provinces}"></a>
<table border="1">
    <tr>
        <th th:text="#{firstName}"></th>
        <th th:text="#{lastName}"></th>
    </tr>
    <th:block th:each="customer : ${customers}">
        <tr>
            <td th:text="${customer.firstName}"></td>
            <td th:text="${customer.lastName}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>